main{
    .section{
        .container{
            .donate-supplies-content{
                ul{
                    padding-left: 0;
                    margin: 0;
                    list-style: none;
                    li{
                        @include flex;
                        flex-wrap: wrap;
                        padding: 25px 5px;
                        .pic{
                            width: 50%;
                            padding: 10px;
                            margin: auto;
                            img{
                                width: 100%;
                            }
                        }
                        .text{
                            @include flex;
                            flex-direction: column;
                            width: 50%;
                            padding: 10px;
                        }
                        h2{
                            @include font(24px, 1.2, 600);
                        }
                        p{
                            @include font(18px, 1.5, 500);
                        }
                        .allbtn{
                            margin: auto 0 0 auto;
                        }
                        .supplies-btn{
                            margin: auto auto 0 0;
                        }
                    }
                    li:nth-child(1){
                        background-color: $bgcyel;
                    }
                    li:nth-child(2){
                        background-color: $bgccof;
                        flex-direction: row-reverse;
                    }
                    li:nth-child(3){
                        background-color: $bgcorg;
                    }
                }
            }
        }
    }
}
@media(max-width:992px){
    main{
        .section{
            .container{
                .donate-supplies-content{
                    ul{
                        li{
                            .pic{
                                width: 50%;
                                img{
                                    height: 50vw;
                                }
                            }
                            .text{
                                width: 50%;
                                h2{
                                    font-size: 20px;
                                }
                                p{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:768px){
    main{
        .section{
            .container{
                .donate-supplies-content{
                    ul{
                        li{
                            .pic{
                                img{
                                    height: 60vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:682px){
    main{
        .section{
            .container{
                .donate-supplies-content{
                    ul{
                        li{
                            .pic{
                                margin: 0;
                            }
                            .text{
                                .allbtn{
                                    margin: auto auto 0 auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:576px){
    main{
        .section{
            .container{
                .donate-supplies-content{
                    ul{
                        li{
                            display: block;
                            .pic{
                                width: 90%;
                                height: auto;
                                margin: auto;
                            }
                            .text{
                                width: 80%;
                                margin: auto;
                                h2{
                                    text-align: center;
                                    font-size: 18px;
                                }
                                p{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}